[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms-html5 = "*"
mysql-connector = "*"
mysql-connector-python = "*"
mysql-connector-python-rf = "*"
mysql = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
